<?xml version="1.0"?>
<connectionStrings>
	<add name="__appEntities"
	     connectionString="Data Source=172.20.10.2;Initial Catalog=ES-SAMPLE;User ID=sa;Password=Temp2020;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
	     providerName="System.Data.SqlClient" />

	<add name="appEntities"
	     connectionString="Data Source=DESKTOP2\SQLEXPRESS;Initial Catalog=ES-SAMPLE;Integrated Security=True"
	     providerName="System.Data.SqlClient" />
</connectionStrings>