<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Samples.Server.Data.AdoDotNet.Context.Properties.Settings.sampleConnectionString"
            connectionString="Data Source=10.100.102.3;Initial Catalog=ES-SAMPLE;User ID=sa;Password=Temp2020;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="Samples.Server.Data.AdoDotNet.Context.Properties.Settings.ES_SAMPLEConnectionString"
            connectionString="Data Source=DESKTOP2\SQLEXPRESS;Initial Catalog=ES-SAMPLE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Samples.Server.Data.Context.AdoDotNet.Properties.Settings.sampleConnectionString"
            connectionString="Data Source=10.100.102.3;Initial Catalog=ES-SAMPLE;User ID=sa;Password=Temp2020;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="Samples.Server.Data.Context.AdoDotNet.Properties.Settings.ES_SAMPLEConnectionString"
            connectionString="Data Source=DESKTOP2\SQLEXPRESS;Initial Catalog=ES-SAMPLE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>